/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

    /**
     * colors
     */
  
    --imperial-red_12: hsla(357, 86%, 57%, 0.12);
    --pacific-blue_12: hsla(188, 78%, 41%, 0.12);
    --davys-gray_12: hsla(210, 9%, 31%, 0.12);
    --imperial-red: hsl(357, 86%, 57%);
    --sonic-sliver: hsl(0, 0%, 47%);
    --pacific-blue: hsl(188, 78%, 41%);
    --blue-ryb_12: hsla(220, 100%, 50%, 0.12);
    --space-cadet: hsl(220, 41%, 20%);
    --eerie-black: hsl(214, 10%, 13%);
    --davys-gray: hsl(210, 9%, 31%);
    --emerald_12: hsla(144, 62%, 53%, 0.12);
    --cool-gray: hsl(225, 11%, 59%);
    --cultured: hsl(225, 20%, 96%);
    --blue-ryb: hsl(220, 100%, 50%);
    --black_08: hsla(0, 0%, 0%, 0.06);
    --black_12: hsla(0, 0%, 0%, 0.12);
    --coral_12: hsla(15, 100%, 65%, 0.12);
    --sunglow: hsl(44, 100%, 61%);
    --emerald: hsl(144, 62%, 53%);
    --onyx-2: hsl(210, 10%, 23%);
    --coral: hsl(15, 100%, 65%);
    --white: hsl(0, 0%, 100%);
    --onyx: hsl(207, 8%, 21%);
  
    /**
     * typography
     */
  
    --ff-vietnam: "Be Vietnam Pro", sans-serif;
  
    --fs-1: 1.563rem;
    --fs-2: 1.5rem;
    --fs-3: 1.25rem;
    --fs-4: 1.078rem;
    --fs-5: 1rem;
    --fs-6: 0.938rem;
    --fs-7: 0.875rem;
    --fs-8: 0.844rem;
    --fs-9: 0.813rem;
    --fs-10: 0.769rem;
  
    --fw-500: 500;
    --fw-600: 600;
    --fw-800: 800;

  
    /**
     * transition
     */
  
    --transition: 0.25s ease;
    --cubic-out: cubic-bezier(0.45, 0.85, 0.5, 1);
    --cubic-in: cubic-bezier(0.5, 0, 0.50, 0.95);
  
    /**
     * radius
     */
  
    --radius-6: 6px;
  
    /**
     * shadow
     */
  
    --shadow-1: 0 12px 20px hsla(210, 10%, 23%, 0.07);
    --shadow-2: 0 2px 10px hsla(0, 0%, 0%, 0.04);
    --shadow-3: 0 2px 20px var(--black_08);
  
  }
  
  
  
  
  
  /*-----------------------------------*\
    #RESET
  \*-----------------------------------*/
  
  *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  li { list-style: none; }
  
  a { text-decoration: none; }
  
  a,
  img,
  span,
  data,
  time,
  input,
  span.icon { display: block; }
  
  
  html {
    font-family: var(--ff-vietnam);
    scroll-behavior: smooth;
  }
  
  body {
    /* padding-block-start: 72px; */
    background: var(--cultured);
    background-color: var(--white);
  }
  
  :focus-visible {
    outline: 2px solid var(--onyx);
    outline-offset: 1px;
  }
  
  ::-webkit-scrollbar { width: 10px; }
  
  ::-webkit-scrollbar-track { background: hsl(0, 0%, 95%); }
  
  ::-webkit-scrollbar-thumb { background: hsl(0, 0%, 80%); }
  
  ::-webkit-scrollbar-thumb:hover { background: hsl(0, 0%, 70%); }
  
    
  /*-----------------------------------*\
    #HEADER
  \*-----------------------------------*/
  
.header{
  display: flex;
  width: 100%;
  height: 65px;
  background-color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.container{
  width: 95%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  background-color: var(--white);
}

.logo{
  width: 12%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-image{
  width: 25%;
}
.logo-image>img{
  width: 100%;
  border-radius: 50%;
}

.search{
  width: 60%;
  position: relative;
}
.fa-magnifying-glass{
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
  color: var(--davys-gray);
}
.search>input{
  width: 80%;
  padding: 8px;
  border-radius: 20px;
  border: 2px solid var(--davys-gray_12);
  outline: none;
  background-color: var(--davys-gray_12);
}
.search>input[type="search"]::placeholder{
  padding-left: 10px;
}
.search>input[type="search"]{
  padding-left: 32px;
  color: var(--davys-gray);
  font-size: 14px;
}


.user-profile{
  width: 17%;
}
.profile-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.image{
  width: 17%;
}
.image>img{
  width: 100%;
  border-radius: 50%;
}
.user-info{
  text-align: end;
  font-size: var(--fs-7);
}
.logout{
  font-size: 25px;
  color: var(--imperial-red);
}
.hamburger{
  font-size: var(--fs-3);
  border-radius: 5px;
  cursor: pointer;
}
.drawer{
  display: none;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;  width: 18%;
  position: absolute;
  overflow: hidden;
  background-color: var(--white);
  margin-bottom: 18px;
  top: 0;
  left: -2.5%;
  z-index: 999;
  animation: slidesection 1s ease;
}
@keyframes slidesection {
  0% {
      transform: translateX(-100%);
  }

  100% {
      transform: translateX(0);
  }

}

.drawer-logo{
  width: 95%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.drawer-image{
  width: 16%;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}
.drawer-image img{
  width: 100%;
}
.close-drawer{
  font-size: 16px;
  color: var(--davys-gray);
}
.drawer-nav{
  width: 95%;
  margin: auto;
}
.drawer-container>ul>li{
  border: 2px solid #fff;
  padding: 10px;
margin-top: 6px;
background-color: #ECEFF1;
}
.fa-house{
  margin-right: 10px;
}
.drawer-container>ul>li:hover{
  background-color: #BBDEFB;
  padding: 10px;
border-top-right-radius: 20px;
border-bottom-right-radius: 20px;
}
.fa-xmark{
  cursor: pointer;
}
.drawer-container{
  margin-bottom: 10px;
  height: 100vh;
}



/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for larger than 400px screen
 */

 @media (max-width: 569px) {
.header{
  display: flex;
  width: 100%;
  height: 50px;
  background-color: var(--white);
}
  .logo{
    width: 16%;
  }
  .logo h3{
    display: none;
  }
  .logo-image{
  width: 50%;
  margin-left: 10px;
}
 .hamburger{
  font-size: var(--fs-4);
 }
 .search{
  width: 55%;
  position: relative;
  margin: auto;
}
.search>input{
  width: 100%;
  padding: 6px;
  border-radius: 20px;
  border: 2px solid var(--davys-gray_12);
  outline: none;
  background-color: var(--davys-gray_12);
}
.fa-magnifying-glass{
  margin-top: 7px;
  font-size: var(--fs-9);

}
.search>input[type="search"]::placeholder{
  padding-left: 1px;
  color: var(--eerie-black);
}
.search>input[type="search"]{
  font-size: 10px;
}
.user-profile{
  width: 18%;
}
.image{
  width: 38%;
}
.image>img{
  width: 100%;
  border-radius: 50%;
}
.user-info{
 display: none;
}
.logout{
  font-size: 20px;
}
.drawer{
  width: 50%;
}
.drawer-container{
  height: 100vh;
}
.drawer-container>ul>li{
  padding: 5px;
  font-size: 12px;
  
}
.fa-house{
  font-size: var(--fs-10);
}
.drawer-container>ul>li:hover{
  padding: 5px;

}
/* attendance part */

.main-container{
  flex-direction: column;
  width: 100%;
}
.right-section{
  width: 100% !important;
}


.calendar{
  width: 100%;
}
.calendar>button{
  width: 70% !important;
}
.course{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 5px;
}
.left-section{
  width: 100% !important;
  margin-top: 20px;
}
.side-section{
  width: 100% !important;
  display: flex !important;
  align-items: center;
  justify-content: space-between;
}
.side-details>div{
  border: 1px solid red;
}
.side-details>div:nth-child(2){
  width: 100%;
  padding-left: 30px;
}
.side-details>div:nth-child(3){
 display: block !important;
 align-items: center;
 justify-content: center;
 border: 1px solid red !important;
}
.side-details button {
  width: 70%;
  padding: 4px !important;
  border-radius: 10px !important;
  font-size: 9px !important;
  color: white !important;
  background-color: rgb(75, 162, 216) !important;
  margin-left: 33px !important;
  margin-bottom: 8px;
}
th,td{
  padding: 10px !important;
  font-size: 12px !important;
}
tr{
  font-size: 12px;
}
.att-btn{
  width: 100% !important;
  padding: 5px !important;
  border: none;
  font-size: 12px !important;
  margin-bottom: 4px;
}
tbody>tr>td:nth-child(5){
  display: block !important;
}
tbody>tr>td:nth-child(5)>i{
  margin-bottom: 6px !important;
  margin-top: 8px;
}


}



/**
 * responsive for larger than 570px screen
 */

 @media (min-width: 569px) and (max-width: 700px) {
  .header{
    display: flex;
    width: 100%;
    height: 60px;
  }
    .logo{
      justify-content: space-evenly;
      width: 28%;
    }
   
    .logo-image{
      min-width: 35px; 
      min-height: 30px; 
    /* width: 28%; */
    margin-left: 10px;
    box-sizing: border-box;
  }
  .logo h3{
    font-size: 18px;
  }
   .hamburger{
    font-size: var(--fs-3);
   }
   .search{
    width: 45%;
    position: relative;
    margin: auto;
  }
  .search>input{
    width: 100%;
    padding: 4px;
  }
  .fa-magnifying-glass{
    margin-top: 8px;
    font-size: var(--fs-7);
  }
  .search>input[type="search"]::placeholder{
    padding-left: 4px;
  }
  .search>input[type="search"]{
    font-size: var(--fs-7);
  }
  .user-profile{
    width: 18%;
  }
  .image{
    width: 30%;
  }
  .image>img{
    width: 100%;
    border-radius: 50%;
  }
  .user-info{
   display: none;
  }
  .logout{
    font-size: 25px;
  }
  .drawer{
    width: 50%;
  }
  .drawer-container{
    margin-top: 20px;
    height: 100vh;
  }
  .drawer-container>ul>li{
    padding: 10px;
    font-size: 16px;
    
  }
  .fa-house{
    font-size: var(--fs-5);
  }
  .drawer-container>ul>li:hover{
    padding: 10px;
  
  }
  .fa-xmark{
    font-size: var(--fs-2);
  }
 

}





/**
 * responsive for larger than 768px screen
 */

 @media (min-width: 700px) and (max-width: 900px) {

  .header{
    display: flex;
    width: 100%;
    height: 60px;
  }
    .logo{
      justify-content: space-evenly;
      width: 22%;
    }
    .logo h3{
      font-size: 20px;
    }
   
    .logo-image{
      min-width: 35px; 
      min-height: 30px; 
    margin-left: 10px;
    box-sizing: border-box;
  }
  
   .hamburger{
    font-size: 22px;
   }
   .search{
    width: 58%;
    position: relative;
    margin: auto;
  }
  .search>input{
    width: 100%;
    padding: 6px;
  }
  .fa-magnifying-glass{
    margin-top: 9px;
    font-size: var(--fs-5);
  }
  .search>input[type="search"]::placeholder{
    padding-left: 10px;
  }
  .search>input[type="search"]{
    font-size: var(--fs-6);
  }
  .user-profile{
    width: 15%;
  }
  .image{
    width: 25%;
  }
  .image>img{
    width: 100%;
    border-radius: 50%;
  }
  .user-info{
   display: none;
  }
  .logout{
    font-size: 24px;
  }
  .drawer{
    width: 30%;
  }
  .drawer-container{
    margin-top: 24px;
    height: 100vh;
  }
  .drawer-container>ul>li{
    padding: 8px;
    font-size: 18px;
    
  }
  .fa-house{
    font-size: var(--fs-3);
  }
  .drawer-container>ul>li:hover{
    padding: 8px;
  
  }
  .fa-xmark{
    font-size: 22px;
  }
 

  
}





/**
 * responsive for larger than 992px screen
 */

 @media (min-width: 900px) and (max-width: 1200px)  {

  .header{
    height: 60px;
  }
  .header{
    display: flex;
    width: 100%;
    height: 60px;
  }
    .logo{
      justify-content: space-evenly;
      width: 18%;
    }
    .logo h3{
      font-size: 20px;
    }
   
    .logo-image{
      min-width: 25px; 
      min-height: 20px; 
    margin-left: 10px;
    box-sizing: border-box;
  }
  
   .hamburger{
    font-size: 22px;
   }
   .search{
    width: 58%;
    position: relative;
    margin: auto;
  }
  .search>input{
    width: 100%;
    padding: 6px;
  }
  .fa-magnifying-glass{
    margin-top: 9px;
    font-size: var(--fs-5);
  }
  .search>input[type="search"]::placeholder{
    padding-left: 10px;
  }
  .search>input[type="search"]{
    font-size: var(--fs-6);
  }
  .user-profile{
    width: 18%;
  }
  .image{
    width: 20%;
  }
  .image>img{
    width: 100%;
    border-radius: 50%;
  }
 
  .logout{
    font-size: 24px;
  }
  .drawer{
    width: 30%;
  }
  .drawer-container{
    margin-top: 24px;
    height: 100vh;
  }
  .drawer-container>ul>li{
    padding: 8px;
    font-size: 18px;
    
  }
  .fa-house{
    font-size: var(--fs-3);
  }
  .drawer-container>ul>li:hover{
    padding: 8px;
  
  }
  .fa-xmark{
    font-size: 22px;
  }
 


}





/**
 * responsive for larger than 1200px screen
 */

@media (min-width: 1200px)and (max-width: 1500px) {
  .header{
    height: 60px;
  }
  .header{
    display: flex;
    width: 100%;
    height: 60px;
  }
    .logo{
      justify-content: space-evenly;
      width: 18%;
    }
    .logo h3{
      font-size: 20px;
    }
   
    .logo-image{
      min-width: 25px; 
      min-height: 20px; 
    margin-left: 10px;
    box-sizing: border-box;
  }
  
   .hamburger{
    font-size: 22px;
   }
   .search{
    width: 58%;
    position: relative;
    margin: auto;
  }
  .search>input{
    width: 100%;
    padding: 6px;
  }
  .fa-magnifying-glass{
    margin-top: 9px;
    font-size: var(--fs-5);
  }
  .search>input[type="search"]::placeholder{
    padding-left: 10px;
  }
  .search>input[type="search"]{
    font-size: var(--fs-6);
  }
  .user-profile{
    width: 18%;
  }
  .image{
    width: 20%;
  }
  .image>img{
    width: 100%;
    border-radius: 50%;
  }
 
  .logout{
    font-size: 24px;
  }
  .drawer{
    width: 30%;
  }
  .drawer-container{
    margin-top: 24px;
    height: 100vh;
  }
  .drawer-container>ul>li{
    padding: 8px;
    font-size: 18px;
    
  }
  .fa-house{
    font-size: var(--fs-3);
  }
  .drawer-container>ul>li:hover{
    padding: 8px;
  
  }
  .fa-xmark{
    font-size: 22px;
  }
}
/*  */
.main-container{
  display: flex;
  align-items: start;
  gap: 10px;
  justify-content: space-between;
  width: 95%;
  /* border: 1px solid red; */
  margin: auto;
  margin-top: 30px;
  background-color: var(--white);
}
.right-section{
  width: 20%;
}
.right-section>h2{
  margin-bottom: 15px;
  font-family: sans-serif;
  font-weight: 600;
  color: #37474F;
}
.calendar{
  width: 100%;
  border: 1px solid rgb(206, 204, 204);
  padding: 5px;
  border-radius: 3px;
}
.left-section{
  width: 78%;
}
.right-container{
  width: 100%;
}

/*  */

.section-box{
  width: 100%;
}
.section-box>div{
  width: 100%;
  
}

.course>div{
  width: 100%;
  border: 1px solid rgb(206, 204, 204);
  margin-top: 20px;
  padding: 14px;
  border-radius: 5px;
}
.course>div>li>i{
  margin-right: 6px;
  color: lightskyblue;
}
.course li{
  font-weight: 600;
  font-family: sans-serif;
}

.course-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #666;
  font-size: 14px;
  margin-top: 8px;
}
.side-section{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.side-section h3{
  color: #37474F;
  margin-left: 12px;
}
.side-section h5{
  color: #666;
  font-size: 12px;
}
.side-section button{
  border: 2px solid rgb(75, 162, 216);
  outline: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 15px;
  font-family: sans-serif;
  font-weight: bold;
  color:  rgb(75, 162, 216);
  background-color: transparent;
  transition: all ease 0.2s;
  cursor: pointer;
}
.side-section button:active{
  scale: 0.9;
}
.fa-download{
  margin-right: 10px;
  color: rgb(75, 162, 216);
  font-size: 16px;
}
.side-details{
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin-top: 20px;
  padding: 10px 15px;
  padding-left: 6px;
}
.side-details>div{
  border-right: 1px solid rgb(206, 204, 204);
  padding: 7px 10px;

}
.side-details>div:nth-child(2){
  width: 100%;
  padding-left: 30px;
}
.side-details>div:nth-child(3){
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.side-details button{
  border: 2px solid rgb(75, 162, 216);
  outline: none;
  padding: 10px;
  border-radius: 20px;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: bold;
  color:  white;
  background-color: rgb(75, 162, 216);
  transition: all ease 0.2s;
  cursor: pointer;
}

.side-details button:active{
  scale: 0.9;
}

.side-details>div>h5{
  color: #666;
  font-family: sans-serif;
  font-size: 15px;
  margin-bottom: 8px;
}
.side-details>div>p{
  color: #a3a0a0;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: bold;
 
}
/* .table-list {
  width: 100%;
  border: 1px solid red;
} */
table,
td,
th {
  text-align: left;
}
table>thead>tr>th{
  color: #666;
  font-size: 15px;
  font-family: sans-serif;
}
tbody{
  border: 1px solid rgb(206, 204, 204);
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 30px;
}

th,
td {
  padding: 15px;
}

tbody>tr:last-child{
border: none;
}
tbody>tr>td:nth-child(3){
  width: 25%;
}
tbody>tr>td:nth-child(5){
  display: flex;
  align-items: center;
 justify-content: start;
  width: 100%;
  margin-top: 12px;

}
tbody>tr>td:nth-child(5)>i{
  font-size: 18px;
  color: #a3a0a0;
  margin-left: 22px;
  transition: all ease 0.2;
  cursor: pointer;
}
tbody>tr>td:nth-child(5)>i:active{
  scale: 0.9;
}

.att-btn{
  padding: 10px 15px;
  border: none;
  font-size: 15px;
  border-radius: 5px;
  transition: all ease 0.2s;
  cursor: pointer;
}
.att-btn:active{
  scale: 0.9;
}
.att-btn:nth-child(1){
  margin-right: 10px;
  background-color: #b4f5d6;
  color: #00695C;
  
}
.att-btn:nth-child(2){
  margin-right: 10px;
  background-color: #F8BBD0;
  color: #880E4F;
  
}
.att-btn>i{
  margin-right: 5px;
  font-size: 15px;
}
tbody tr{
  border-bottom: 1px solid rgb(206, 204, 204);
}

/*  */
.date-selector,
.class-selector,
.time-selector {
  width: 100%;
  /* border: 1px solid red; */
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 5px;
  gap: 10px;
  
}

.date-selector label,
.class-selector label,
.time-selector label {
  width: 20%;
  font-size: 16px;
  margin-top: 8px;
  font-weight: 600;
  font-family: sans-serif;
}
.class-selector select{
  border: 1px solid gray;
  width: 100%;
  padding: 6px;
  margin-top: 4px;
  border-radius: 5px;
}
.calendar input{
  border: 1px solid gray;
  width: 100%;
  padding: 6px;
  margin-top: 4px;
  border-radius: 5px;
}
.calendar>button{
  width: 90%;
  display: block;
  margin: auto;
  border: 1px solid rgb(75, 162, 216);
  padding: 8px 30px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
  color:  white;
  background-color: rgb(75, 162, 216); 
  margin-top: 15px;
  margin-bottom: 8px;
  transition: all ease 0.2s;
  cursor: pointer;
}
.calendar>button:active{
  scale: 0.9;
}